* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 300px;
    height: 300px;
    box-shadow: 0 0 8px #ddd;
    margin: 50px auto;
}

  .box {
      width: 100px;
      height: 100px;
      background-color: cadetblue;
      float: left;
      border: 1px solid #ddd;
      justify-content: center;
      text-align: center;
      font-size: 40px;
      color: white;
      display: flex;
      line-height: 100px;
      user-select: none;
    
  }

